<mat-toolbar color="primary">My App</mat-toolbar>
<mat-accordion>
  <mat-expansion-panel #expPanel *ngFor="let panel of panels" (opened)="opened()"
                       id="{{panel.text}}">
    <mat-expansion-panel-header fxLayout='row'>
      <mat-panel-title fxFlex="10">
        {{panel.text}}
      </mat-panel-title>
      <mat-panel-description fxFlex="90">
        <mat-progress-bar *ngIf="panel.isLoading"
                          mode="indeterminate"
                          class="example-tree-progress-bar"></mat-progress-bar>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field>
        <input matInput [formControl]="limit" type="number" placeholder="Limit size">
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControl]="iterations" type="number" placeholder="How many calls">
      </mat-form-field>

      <button name="{{panel.text}}" mat-button (click)="call(panel)">Start
      </button>
      <button mat-button (click)="stop(panel)">Stop</button>
    </div>
    <div *ngIf="expPanel.expanded && !panel.eventSource" fxLayout="row wrap"
         style="max-height: 600px; overflow: auto">
      <div *ngFor="let outerStream$ of data$; let i = index">
        <p *ngFor="let element of outerStream$ | async; let j = index" fxFlex="18">
          {{j + '. accu: ' + element.accumulator + ' send date: ' + (element.localDateTime.toString() |
          date:'h:mm:ss.SSS') }}
        </p>
      </div>
    </div>
    <div *ngIf="expPanel.expanded && panel.eventSource" fxLayout="row wrap"
         style="max-height: 600px; overflow: auto">
      <p *ngFor="let str of stream; let j = index" fxFlex="18">
        {{j + '. accu: ' + str.accumulator + ' send date: ' + (str.localDateTime.toString() |
        date:'h:mm:ss.SSS') }}
      </p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
